:root{
    --white-color: white;
    --green-color: #4BC800;
    --btm-height: 80px;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}


/* COMMON */


/* UTILITIES */
.flex-container{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.c-white{
    color: var(--white-color);
}

.block{
    display: block;
}

.fs-30{
    font-size: 20px;
}

.green{
    color: var(--green-color);
}

/* MAIN */
.webapp{
    width: 100%;
    height: 100vh;
    position: relative;
    /* debug */
    background-color: lightcyan;
}

/* Top Section */
.top-s{
    padding: 50px 50px 20px 50px;
    width: 100%;
    height: calc(100% - var(--btm-height));
    overflow-y: scroll;
    background-color: black;
}

.col{
    width: calc(100% / 7);
}

.card{
    padding: 5px;
    margin-bottom: 5px;
}

.card-img{
    /* ???????? */
    display: flex;
    position: relative;
}

.img-overlay{
    display: block;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Bottom Section */
.btm-s{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--btm-height);
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.bottom-col{

    align-items: center;

}

.bottom-col-sx, .bottom-col-ct{
    align-items: center;
}

.bottom-col-sx div, .bottom-col-ct div{
    text-align: center;
    padding: 10px;

}

.end-meeting{
    color: red;
    padding: 0px 10px;
    background-color: #4A4A4A;
    line-height: var(--btm-height);
}

i{
    padding-bottom: 5px;
}
