:root{
    --white-color: white;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}


/* COMMON */


/* UTILITIES */
.flex-container{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.c-white{
    color: var(--white-color);
}

/* MAIN */
.webapp{
    width: 100%;
    height: 100vh;
    position: relative;
    /* debug */
    background-color: lightcyan;
}

.top-s{
    padding: 50px 50px 20px 50px;
    width: 100%;
    height: calc(100% - 120px);
    overflow-y: scroll;
    background-color: black;
}

.btm-s{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    /* debug */
    background-color: lightcoral;
}

.col{
    width: calc(100% / 7);
}

.card{
    padding: 5px;
    margin-bottom: 5px;
}

.card-img{
    /* ???????? */
    display: flex;
    position: relative;
}

.img-overlay{
    display: block;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}